[Desktop Entry]
Name=ChOX
GenericName=Chemical Object Explorer
Comment=Load and inspect chemical data files
Exec=/opt/CDPKit
Icon=/usr/share/pixmaps/chox.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Science;
StartupNotify=true
